#contact{
    background-color: var(--color-black);
    color:var(--color-text);
}

.contact__links{
    display: flex;
    justify-content: center;
    gap:1rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact__link{
    transition: all 200ms ease-in;
}
.contact__link:hover{
    color:var(--color-accent);
}

.arrow-up{
    background-color: var(--color-primary);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
}