#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home__avatar{
    height: 250px;
    width: 250px;
    /*찌그러진 이미지 원래 비율로 맞춰주는 기능*/
    object-fit: cover;
    border: 3px solid var(--color-accent);
    border-radius: 100%;
}

.home__title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong{
    color: var(--color-accent);
}

.home__description{
    font-size: 1.3rem;
}

.home__contact{
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover{
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
    border-radius: 4px;
}